nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

  line-height: 0;
  padding-block: 1.25rem;

  & ul{
    display: flex;
    align-items: center;
    gap: 1.5rem;

    padding-block: .5rem;

    & li:last-child img{
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 580px) {
  nav{
    flex-direction: column;
    padding-block: 2rem 0;
  }
}

@media screen and (max-width: 390px) {
  nav{
    padding-bottom: 1.5rem;

    & ul{
      flex-direction: column;
      gap: 2.25rem;
      padding-top: 1.75rem;
    }
  }
}